@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body{
    font-family: 'Play', sans-serif;
    height: auto;
    background-image: url(../images/jordan1bred.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shape-container{
    margin: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-image: url(../images/jordan1bred.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}


.shape-top{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .3;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0 0%);
}

.shape-left{
    position: absolute;
    top: 0;
    left:0;

    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .4;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0%, 0 100%, 50% 50%);
}


#head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    display: FLEX;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    padding: 1em;
    background: linear-gradient(to bottom right, hsla(201, 61%, 73%, 50%) 14%, transparent 83.5%) no-repeat bottom;
    justify-content: space-between;
    box-shadow: 0px 1px 24px;
    }

#sneaker-list{
    position: relative;
    top: 25px;
    left: 100px
}

#head h1{
    padding-right: 1em;
    font-size: 28px;
    color: hsl(201, 25%, 100%);
}
#left-head{
    display: flex;
    align-items: center;
}

div#display{
    background-color: hsl(44, 41%, 73%);
    height: auto;
    max-height: 33em;
    padding: 2em;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -25rem;
    box-shadow: 0px 1px 24px;
    width: 52rem;
    border-radius: 10px;
    overflow-y: scroll;
    margin-top: -2em;
}

.delete-button{
    height: 100%;
}

.hidden{
    display: none;
}

footer{
    position: fixed;
    bottom: 0;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 0;
    background: hsla(108, 100%,100%, 103%);
    border-radius: 19px;
    margin: 1em;
}

#delete-button{
    height: 3em;
    margin: 10px;
    border-radius: 25px 0 25px 0;
    box-shadow: 1px 1px 13px;
}

#create-button{
    height: 3em;
    margin: 10px;
    border-radius: 25px 0 25px 0;
    box-shadow: 1px 1px 13px;
}

img{
    height: 150px;
    width: 200px;
}